# gmailnudge
#  220131  New for funcs3 V1.0

# Logging params
LogLevel		10					# Logging module levels: 10:DEBUG, 20:INFO, 30:WARNING (default), 40:ERROR, 50:CRITICAL
#LogFile		log_gmailnudge.txt	# Default (no LogFile given) is to log to the console


# Script params
NudgeText		GmailNudge			# Placed in email subject field.  Set filter in GMail to delete message with this subject


# Email and Notification params
EmailServer	    mail.example.com    # No port number attached
EmailServerPort	P587TLS			    # Required:  P465, P587, P587TLS, or P25
EmailFrom	    your.email@gmail.com
import          ~/creds_SMTP        # Defines EmailUser and EmailPass
#EmailVerbose	True			    # True: enable the emailer debug level
#DontEmail	    True			    # True: Emails (including notifications) will NOT be sent
#DontNotif		True                # True: Notifications will not be sent

EmailTo	    	your.email@example.com
