# WANIPCheck config file
#  210512  Replaced EmailUser and EmailPass with import
#  190319  Updated email server settings
#  180521  New

#LoggingLevel	10				# Logging module levels: 10:DEBUG, 20:INFO, 30:WARNING, 40:ERROR, 50:CRITICAL

WanIpFile		WANIP.txt


# Email and Notification params
EmailServer	    mail.example.com    # No port number attached
EmailServerPort	P587TLS			    # Required:  P465, P587, P587TLS, or P25
EmailFrom	    your.email@gmail.com
import          ~/creds_SMTP        # Defines EmailUser and EmailPass
#EmailVerbose	True			    # True: enable the emailer debug level
#DontEmail	    True			    # True: Emails (including notifications) will NOT be sent
#DontNotif		True                # True: Notifications will not be sent

NotifList		4809991234@vzwpix.com  # One or more.  Use your carrier's email-to-text bridge address.  Regular email addresses may be used.
EmailTo	    	your.email@gmail.com
